<footer>
    <div class="nav">
        <ul>
            <li><a href="workouts"><span class="material-icons">fitness_center</span></a></li>
            <li><a href="user"><span class="material-icons">home</span></a></li>
            <li><a href="mealplan"><span class="material-icons">restaurant</span></a></li>
        </ul>
    </div>
</footer>
</body>

</html>
